<footer class="footer">
	<small>
		<a class="center" href="http://www.facebok.com/ly.long.7" target="_blank"><font size="+2">Long Profile</font></a>
	</small>	
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "About", 	about_path 		%></li>
				<li><%= link_to "Contact", 	contact_path 	%></li>
			</ul>
		</nav>
</footer>